:root {
    --bg: linear-gradient(135deg, #5865F2, #6F6EF1, #8677EF, #8677EF);
    --nav-bg: #454aa6;
    --nav-underline: #454aa6;
    --text-color: #fff;
    --navbar-item-color: white;
    --navbar-item-hover-bg: transparent;
    --navbar-item-hover-color: white;
    --glass-effect-border-color: rgba(255, 255, 255, 0.18);
    --glass-effect-bg: rgba(255, 255, 255, 0.1);
    --glass-effect-shadow: rgba(31, 38, 135, 0.37);
    --glass-effect-backdrop-filter: blur(2px);
    --glass-effect-shine: rgba(255,255,255,0.5);
    --navbar-dropdown-bg: rgba(255, 255, 255, 0.1);;
    --navbar-dropdown-shadow: rgba(31, 38, 135, 0.37);
    --scrollbar-color: linear-gradient(135deg, #5865F2, #6F6EF1, #8677EF, #8677EF);
    --scrollbar-track: #212529;
    --placeholder-color: rgb(219, 219, 219);
    --toggle-color: #1A8D9A;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: linear-gradient(135deg, #5865F2, #6F6EF1, #8677EF, #8677EF);
        --nav-bg: #454aa6;
        --nav-underline: #454aa6;
        --text-color: #fff;
        --navbar-item-color: white;
        --navbar-item-hover-bg: transparent;
        --navbar-item-hover-color: white;
        --glass-effect-border-color: rgba(255, 255, 255, 0.18);
        --glass-effect-bg: rgba(255, 255, 255, 0.1);
        --glass-effect-shadow: rgba(31, 38, 135, 0.37);
        --glass-effect-backdrop-filter: blur(2px);
        --glass-effect-shine: rgba(255,255,255,0.5);
        --navbar-dropdown-bg: rgba(255, 255, 255, 0.1);;
        --navbar-dropdown-shadow: rgba(31, 38, 135, 0.37);
        --scrollbar-color: linear-gradient(135deg, #5865F2, #6F6EF1, #8677EF, #8677EF);
        --scrollbar-track: #212529;
        --placeholder-color: rgb(219, 219, 219);
        --toggle-color: #1A8D9A;
    }
}

.light-theme {
    --bg: linear-gradient(135deg, #B4D7D3, #64B9C4, #1A8D9A, #22647D);
    --nav-bg: #22647D;
    --nav-underline: #1A8D9A;
    --text-color: #000; /* Adjusted text color for better readability */
    --navbar-item-color: black;
    --navbar-item-hover-bg: transparent;
    --navbar-item-hover-color: #000; /* Adjusted hover color for better contrast */
    --glass-effect-border-color: rgba(0, 0, 0, 0.18); /* Adjusted glass effect border color */
    --glass-effect-bg: rgba(0, 0, 0, 0.1); /* Adjusted glass effect background color */
    --glass-effect-shadow: rgba(0, 0, 0, 0.199); /* Adjusted glass effect shadow */
    --glass-effect-backdrop-filter: blur(2px);
    --glass-effect-shine: rgba(0,0,0,0.5);
    --navbar-dropdown-bg: rgba(255, 255, 255, 0.1);;
    --navbar-dropdown-shadow: rgba(255, 255, 255, 0.37); /* Adjusted dropdown shadow */
    --scrollbar-color: linear-gradient(135deg, #5865F2, #6F6EF1, #8677EF, #8677EF);
    --scrollbar-track: #212529;
    --placeholder-color: rgb(219, 219, 219);
    --toggle-color: #0046AC; /* Adjusted toggle color */
}


.dark-theme {
    --bg: linear-gradient(135deg, #00112D, #001945, #00235C, #00317E, #0046AC);
    --nav-bg: #454aa6;
    --nav-underline: #454aa6;
    --text-color: #fff;
    --navbar-item-color: white;
    --navbar-item-hover-bg: transparent;
    --navbar-item-hover-color: white;
    --glass-effect-border-color: rgba(255, 255, 255, 0.18);
    --glass-effect-bg: rgba(255, 255, 255, 0.1);
    --glass-effect-shadow: rgba(31, 38, 135, 0.37);
    --glass-effect-backdrop-filter: blur(2px);
    --glass-effect-shine: rgba(255,255,255,0.5);
    --navbar-dropdown-bg: rgba(255, 255, 255, 0.1);;
    --navbar-dropdown-shadow: rgba(31, 38, 135, 0.37);
    --scrollbar-color: linear-gradient(135deg, #5865F2, #6F6EF1, #8677EF, #8677EF);
    --scrollbar-track: #212529;
    --placeholder-color: rgb(219, 219, 219);
    --toggle-color: #1A8D9A;
}

html {
    scroll-behavior: smooth;
}

body {
    /* background-color: #070A3B; */
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    color: var(--text-color);
}

.bg-base {
    height: 100%;
    background: var(--bg);
    /* animation: xd 10s ease; */
    position: relative;
}

.bg-base-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
}

.hero-body {
    position: relative;
}

#tsparticles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* This CSS will apply when the viewport width is 1024 pixels or less */
@media (max-width: 1024px) {
    /* Custom CSS for box dropdown */
    .navbar-menu {
        display: none;
        position: absolute;
        right: 2rem;
        top: calc(100% + 0.5rem);
        z-index: 1;
        background-color: transparent;
        border: 1px solid var(--glass-effect-border-color);
        border-radius: 1rem;
        min-width: 200px;
        background: var(--navbar-dropdown-bg);
        box-shadow: 0 8px 32px 0 var(--navbar-dropdown-shadow);
        backdrop-filter: var(--glass-effect-backdrop-filter);
        -webkit-backdrop-filter: var(--glass-effect-backdrop-filter);
        animation: navAnimOpen .3s ease-in-out;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .navbar-menu::-webkit-scrollbar {
        display: none; /* Hide scrollbar for Chrome, Safari and Opera */
    }
}

nav,
.navbar-menu {
    background-color: transparent !important;
    box-shadow: 0 4px 32px 0 var(--navbar-dropdown-shadow);
    backdrop-filter: var(--glass-effect-backdrop-filter);
    -webkit-backdrop-filter: var(--glass-effect-backdrop-filter);
}

.navbar-item {
    border-radius: .55rem; /* Add border radius to navbar items */
    color: var(--navbar-item-color);
}

.navbar-item::after {
    content: ''; /* Add content to the pseudo-element */
    position: absolute; /* Set position absolute */
    bottom: 0;
    left: 0;
    width : 100%;
    height : 2px;
    background-color: var(--nav-underline); /* Set color of the line */
    transform : scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease; /* Add transition effect */
}

.navbar-item:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}
.navbar-item:not(:hover) {
    background-color: transparent !important;
  }

.navbar-item:hover {
    background-color: var(--navbar-item-hover-bg); /* Change background color of navbar items on hover */
    color: var(--navbar-item-hover-color);
}

.navbar-burger {
    margin-right: 0.75rem;
    color: var(--text-color);
}

.navbar-item.has-dropdown.is-active .navbar-menu {
    display: block;
}

.navbar-item.has-dropdown.is-active .navbar-link {
    background-color: transparent; /* Remove background color from active dropdown */
}

.navbar-dropdown {
    border: none; /* Remove border from dropdown items */
    padding: 0.5rem; /* Add padding */
}

.navbar-item.has-dropdown.is-active .navbar-dropdown {
    display: block; /* Show dropdown on active */
}

.lead {
    text-align: center;
}

.lead > a {
    margin-bottom: 0.5em;
}

.box-img {
    border-top-left-radius: 0; /* Keep top-left corner square */
    border-top-right-radius: 0; /* Keep top-right corner square */
    border-bottom-left-radius: 50%; /* Bottom-left corner becomes circular */
    border-bottom-right-radius: 50%; /* Bottom-right corner becomes circular */
    width: 10rem;
    height: 10rem;
    margin-bottom: 1rem;
    overflow: hidden; /* Hide the overflowing content */
}

.glass-effect {
    background-color: transparent;
    border: 1px solid var(--glass-effect-border-color);
    background: var(--glass-effect-bg);
    box-shadow: 0 8px 32px 0 var(--glass-effect-shadow);
    backdrop-filter: var(--glass-effect-backdrop-filter);
    -webkit-backdrop-filter: var(--glass-effect-backdrop-filter);
    transition: transform .5s;
    overflow: hidden;
}

.glass-effect:hover {
    transform: translateY(-20px);
}

.glass-effect::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    background: var(--glass-effect-shine);
    transform: skewX(45deg) translateX(150px);
    transition: 1.5s;
}

.glass-effect:hover::before {
    transform: skewX(45deg) translateX(-150px);
}

@keyframes xd {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes navAnimOpen {
    0% {
        display: none;
        opacity: 0;
        max-height: 0;
    }
    1% {
        display: block;
        opacity: 0;
    }
    100% {
        opacity: 1;
        max-height: 396px;
    }
    from {
        opacity: 0;
        transform: translateY(-5px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* Other scrollbar styles */
::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-color);
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--placeholder-color);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--placeholder-color);
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--placeholder-color);
}




/*
    https://coolors.co/5865f2-5e68f2-646af2-6f6ef1-8677ef-b388eb-ea80fc
Original Theme
background: linear-gradient(135deg, #0c007d, #552bb9, #9d55f5);
Ocean Breeze
background: linear-gradient(135deg, #82D8D8, #65C8C8, #49B7B7, #2CA5A5, #198E8E, #008080);
Midnight Blue
background: linear-gradient(135deg, #090E42, #080C3F, #070A3B, #060838, #050635, #040432);
Light theme
background: linear-gradient(135deg, #5865F2, #5E68F2, #646AF2, #6F6EF1, #8677EF, #8677EF, #EA80FC);
Dark theme
background: linear-gradient(135deg, #000033, #330066, #660099, #9900CC, #CC00FF, #FF33FF);
midnight sky:
linear-gradient(135deg, #0F0F17, #1F2030, #2F3250, #4F5470, #6F7690);
deep ocean:
linear-gradient(135deg, #001226, #002444, #003962, #005080, #0071A2);
electric night:
linear-gradient(135deg, #00112D, #001945, #00235C, #00317E, #0046AC);
cloudy day:
linear-gradient(135deg, #ECE9E6, #B4D7D3, #64B9C4, #1A8D9A, #22647D);
golden hour:
linear-gradient(135deg, #F7D49A, #F8A488, #F0746E, #D23B44, #8F0E36);
*/

#theme-toggle {
    cursor: pointer;
    background: none;
    border: 0;
    opacity: 0.8;
    border-radius: 50%;
    position: relative;
    isolation: isolate;
  }

  #theme-toggle svg {
    fill: var(--toggle-color);
    background: transparent !important;
  }

  #theme-toggle::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    transform: scale(0);
    opacity: 0;
    z-index: -1;
  }

  .light-theme #theme-toggle::before {
    -webkit-animation: pulseToLight 650ms ease-out;
            animation: pulseToLight 650ms ease-out;
  }

  .dark-theme #theme-toggle::before {
    -webkit-animation: pulseToDark 650ms ease-out;
            animation: pulseToDark 650ms ease-out;
  }

  #theme-toggle::after {
    position: absolute;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-size: 1.5rem;
    left: 0;
    right: 0;
    top: 95%;
    margin: 0 auto;
    padding: 0.5em 1em;
    border-radius: 0.125em;
    transform: scale(0);
    transform-origin: top;
    transition: transform 0ms linear 100ms, opacity 100ms linear;
  }

  #theme-toggle:hover,
  #theme-toggle:focus {
    outline: 0;
    opacity: 1;
    background: hsl(0 0% 50% / 0.15);
  }

  #theme-toggle:hover::after,
  #theme-toggle:focus-visible::after {
    opacity: 0.7;
    transform: scale(1);
    transition: transform 70ms linear, opacity 70ms linear;
  }

  .toggle-circle {
    transition: transform 500ms ease-out;
  }

  .light-theme .toggle-circle {
    transform: translateX(-15%);
  }

  .toggle-sun {
    transform-origin: center center;
    transition: transform 750ms cubic-bezier(0.11, 0.14, 0.29, 1.32);
  }

  .light-theme .toggle-sun {
    transform: rotate(0.5turn);
  }

  @-webkit-keyframes pulseToLight {
    0% {
      transform: scale(0);
      opacity: 0.5;
    }
    10% {
      transform: scale(1);
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale(1);
    }
  }

  @keyframes pulseToLight {
    0% {
      transform: scale(0);
      opacity: 0.5;
    }
    10% {
      transform: scale(1);
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale(1);
    }
  }

  @-webkit-keyframes pulseToDark {
    0% {
      transform: scale(0);
      opacity: 0.5;
    }
    10% {
      transform: scale(1);
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale(1);
    }
  }

  @keyframes pulseToDark {
    0% {
      transform: scale(0);
      opacity: 0.5;
    }
    10% {
      transform: scale(1);
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale(1);
    }
  }