html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden;
}

.stars,
.twinkling,
.clouds {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.stars {
  z-index: 1;
  background: url('https://i.imgur.com/YKY28eT.png') repeat top center;
}

.twinkling {
  z-index: 2;
  background: transparent url('https://i.imgur.com/XYMF4ca.png') repeat top center;
  animation: move-twink-back 200s linear infinite;
}

.clouds {
  z-index: 3;
  background: transparent url('https://i.imgur.com/mHbScrQ.png') repeat top center;
  animation: move-clouds-back 200s linear infinite;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow-y: auto;
  position: relative;
  z-index: 4;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

:root {
  --clr-1: #101010;
  --clr-2: #1c46a8;
  --clr-3: #8b0078;
  --clr-4: #760eab;
}

.box {
  background: var(--clr-1);
  border-radius: 0.5rem;
  position: relative;
  max-width: 450px;
  padding: 40px;
  text-align: center;
  color: white;
  font-family: 'Century Gothic', sans-serif;
  margin: auto;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box::before,
.box::after {
  content: "";
  position: absolute;
  inset: -0.2rem;
  z-index: -1;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-4),
    var(--clr-3),
    var(--clr-2),
    var(--clr-3),
    var(--clr-4)
  );
  border-radius: inherit;
  animation: rotation 25s linear infinite;
}

.box::after {
  filter: blur(1.5rem);
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

.box-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  object-fit: contain;
}

.box h1 {
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}

.box h3 {
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}

.box p {
  text-align: justify;
  margin-bottom: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

.box li {
  display: inline-block;
  margin: 16px;
  list-style: none;
}

.box li a {
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}

.box li a:hover {
  color: #b9b9b9;
}

@media (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    overflow: auto;
  }
  
  .stars,
  .twinkling,
  .clouds {
    display: none;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow-y: auto;
    position: relative;
    z-index: 4;
  }
  
  .box {
    background: var(--clr-1);
    border-radius: 0.5rem;
    position: relative;
    max-width: 90%;
    padding: 3%;
    text-align: center;
    color: white;
    font-family: 'Century Gothic', sans-serif;
    margin: auto;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .box::before,
  .box::after {
    content: "";
    position: absolute;
    inset: -0.2rem;
    z-index: -1;
    background: conic-gradient(
      from var(--gradient-angle),
      var(--clr-4),
      var(--clr-3),
      var(--clr-2),
      var(--clr-3),
      var(--clr-4)
    );
    border-radius: inherit;
    animation: rotation 25s linear infinite;
  }
  
  .box::after {
    filter: blur(1.5rem);
  }
  
  @keyframes rotation {
    0% {
      --gradient-angle: 0deg;
    }
    100% {
      --gradient-angle: 360deg;
    }
  }
  
  .box-img {
    width: 150px;
    height: 150px;
  }
  
  .box h1 {
    font-size: 30px;
  }
  
  .box h3 {
    font-size: 18px;
  }
  
  .box li {
    margin: 10px;
  }
  
  .box li a {
    font-size: 40px;
  }
}